# Dependencies
node_modules/

# Build output
dist/
out/
release/
build/
lib/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo

# Electron
*.user

# Local config
.env
.env.local
